<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MyBashScript</string>
	<key>CFBundleIconFile</key>
	<string>Tools.icns</string>
	<key>CFBundleIdentifier</key>
	<string>github.com/christophecvr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FinderSelLauncher.app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>log</string>
				<string>sh</string>
				<string>txt</string>
				<string>sh</string>
				<string>plist</string>
				<string>fold</string>
				<string>xml</string>
				<string>html</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-shellscript</string>
				<string>text/plain</string>
				<string>text/x-ruby</string>
				<string>inode/directory</string>
				<string>*/*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bash Script Launcher</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Launcher</string>
		</dict>
	</array>
</dict>
</plist>
